        <md-toolbar class="md-tall md-hue-2">
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <div layout="row">
                    <div flex="20">
                </div>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="item in vm.menu" ng-click="vm.navigateTo(item.link)" >
                <div class="inset" ng-show="item.icon">
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <p> {{ item.name }}</p>
            </md-list-item>
        </md-list>
