@import "node_modules/font-awesome/less/font-awesome.less";
@import "globals.less";
@import "grid.less";

#game-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}